mrm contract address:
<address of the deployed moov ride manager contract if not deploy it first following instructions at end of README>
private key of car1:
<private key of car1, look at end of README for how to generate private key>
private key of car2:
<private key of car2>
private key of car3:
<private key of car3>
private key of car4:
<private key of car4>
private key of car5:
<private key of car5>
private key of car6:
<private key of car6>